
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	<div class="container-login ">
		<h2>Connexion</h2>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.nom }}, <a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<div class="input-group">
				<label for="email">Email</label>

				<input
						class="mt-3"
						type="text"
						autocomplete="off"
						id="email"
						placeholder="Votre email"
						name="email"
				>
			</div>
			<div class="input-group">
				<label for="password">Mot de passe</label>

				<input
						class="mt-3"
						type="password"
						autocomplete="off"
						id="password"
						placeholder="Votre mot de passe"
						name="password"
				>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			</div>


			<button type="submit">Connexion</button>
		</form>


		<a href="{{ path('app_home') }}">Retour</a>
	</div>
{% endblock %}