<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Projet E-commerce">
	<meta name="generator" content="Jekyll v4.1.1">
	<title>{% block title %} Projet E-commerce{% endblock %}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,100&display=swap"
	      rel="stylesheet">
	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/ecommerce.css') }}" rel="stylesheet">
	<link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
	{% if block('carousel') is defined %}
{% include 'base/nav.html.twig' %}
	{% endif %}

	<!--Categorie Start-->
	<div class="container categorie {% if block('carousel') is not defined %}mt-5{% endif %}" >
		{% block content %}

		{% endblock %}
	</div>

	<!--Categorie End-->
	<!--Vetement Start-->
{#	<div class="container vetement {% if block('carousel') is not defined %}mt-5{% endif %}" >#}
{#		{% block content %}#}

{#		{% endblock %}#}
{#	</div>#}

	<!--Vetement End-->
	<!-- FOOTER -->

	<div class="container footer ">
		{% include 'base/footer.html.twig' %}
	</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>

<script type="text/javascript">

    function placeFooter() {
        if( $(document.body).height() < $(window).height() ) {
            $("footer").css({position: "relative", bottom:"0px"});
        } else {
            $("footer").css({position: ""});
        }
    }


</script>
</body>

</html>